@media(max-width:40em) {
    html {
        font-size: 40%
    }
}

@media(min-width:40em) {
    html {
        font-size: 40%
    }
}

@media(min-width:50em) {
    html {
        font-size: 50%
    }
}

@media(min-width:60em) {
    html {
        font-size: 60%
    }
}

@media(min-width:100em) {
    html {
        font-size: 100%
    }
}

html {
    font-size: 16px;
    line-height: 1.2;
}

body {
    background-color: gray;
    color: white;
}

#splash {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

    #splash h1 {
        font-size: 10em;
    }

    #splash button {
        margin: 2%;
        padding: 0.2em;
        font-size: 5em;
        color: white;
        background-color: black;
        border: 2px solid lightslategray;
        text-decoration: none;
    }

        #splash button:hover {
            background-color: lightslategray;
            border: 2px solid white;
        }


/* Board.Razor */

.board-wrapper {
    display: flex;
    justify-content: center;
    background-color: black;
}

.board-column {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 16%;
    text-align: center;
    font-size: 3rem;
}

    .board-column div {
        background-color: darkblue;
        height: 7.4rem;
        word-wrap: break-word;
        overflow: hidden;
        margin-bottom: 5px;
    }

        .board-column div:nth-of-type(1) {
            font-weight: 600;
        }

        .board-column div:nth-of-type(n+2) {
            border: 2px solid darkblue;
            font-size: 4rem;
            line-height: 110px;
            color: gold;
        }

            .board-column div:nth-of-type(n+2):hover {
                border: 2px solid white;
                color: white;
            }

    .board-column .answered {
        visibility: hidden;
    }

/* Answer.Razor */

.answer-wrapper {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    background-color: black;
}

.answer-header {
    display: flex;
    flex-flow: row nowrap;
}

.answer-timer {
    font-family: Consolas,monaco,monospace;
    margin: 1%;
    text-align: center;
    font-size: 200%;
    width: 100%;
}

.answer-stats {
    font-family: Consolas,monaco,monospace;
    text-align: center;
    width: 100%;
    font-size: 200%;
    line-height: 0%;
}

.answer-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

    .answer-nav button {
        width: 10em;
        height: 2em;
        padding: 0.2em;
        font-size: 1.5em;
        color: white;
        background-color: black;
        border: 2px solid lightslategray;
    }

        .answer-nav button:hover {
            background-color: lightslategray;
            border: 2px solid white;
        }

.answer-content {
    padding-top: 1%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkblue;
    font-size: 2rem;
    text-align: center;
}

.answer-code {
    font-family: Consolas,monaco,monospace;
    background-color: darkblue;
    flex: 1;
    padding: 10px;
    font-size: 1.5rem;
}

/* Response.Razor */

.responses-wrapper {
    display: flex;
    flex-direction: column;
}

.correct-responses {
    background-color: black;
}

    .correct-responses h1, h2 {
        text-align: center;
        width: 100%;
    }

    .correct-responses h2 {
        font-family: Consolas,monaco,monospace;
    }

    .correct-responses div {
        font-family: Consolas,monaco,monospace;
    }

.response-list {
    font-size: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

    .response-list div {
        border-bottom: 1px solid black;
        width: 40%;
        text-align: center;
        font-family: Consolas,monaco,monospace;
    }

        .response-list div:nth-of-type(-n+2) {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
        }

/* Leaderboard.Razor */

.leaderboard-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.player-list {
    display: flex;
    flex-flow: row wrap;
    color: black;
    justify-content: center;
    text-align: center;
    border: 1px solid red;
}

.player {
    margin: 10px;
    padding: 10px;
    font-size: 2em;
    background-color: white;
    border: 3px solid white;
}

    .player:hover {
        border: 3px solid black;
    }

/* OTHER */

#lobby {
    margin-left: 17%;
    margin-right: 17%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: black;
}

#lobby-players {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

    #lobby-players .player {
        font-family: monospace;
        height: 4em;
        width: 12em;
        background-color: gray;
        border: 2px solid black;
    }

        #lobby-players .player:hover {
            border: 2px solid white;
        }

#lobby h1 {
    font-size: 4em;
}

#lobby button {
    margin: 2%;
    padding: 0.2em;
    font-size: 4em;
    width: 5em;
    color: white;
    background-color: black;
    border: 2px solid lightslategray;
    text-decoration: none;
}

#lobby .command {
    font-family: monospace;
    color: red;
}

#lobby button:hover {
    background-color: lightslategray;
    border: 2px solid white;
}

#answer-container {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    background-color: black;
}

/* ------------------ animations ------------------ */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animation-fadein {
    animation: 2s fadeIn linear forwards;
    -webkit-animation: 2s fadeIn linear forwards;
}
