@page "/category/delete/{categoryId:int}"
@inject NavigationManager NavigationManager
@inject CategoryDeleteViewModel viewModel
<h3>Delete</h3>
<h4>Are you sure you want to delete the category '<span style="font-weight: bold">@ViewModel.DeleteModel.Name</span>'?</h4>
<button class="btn btn-danger" @onclick="ConfirmDelete">Confirm</button>
<button class="btn btn-light" @onclick="Cancel">Cancel</button>
@code {

    [Parameter]
    public int categoryId { get; set; }

    protected CategoryDeleteViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewModel = viewModel;
        ViewModel.Load(categoryId);
    }

    protected void Cancel() => NavigationManager.NavigateTo($"category/list");

    protected void ConfirmDelete()
    {
        ViewModel.DeleteCommand.Execute(categoryId);
        NavigationManager.NavigateTo($"category/list");
    }
}
