@page "/createquestion"
@inherits CreateQuestionBase

<style>
    .markdown-editor, .markdown-view {
        max-height: 100%;
        height: calc(100vh - 154px);
        padding: 30px;
        overflow: scroll;
    }

        .markdown-editor textarea {
            height: 100%;
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            background-color: transparent;
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="float-left">
            <h1>Create New Question</h1>
        </div>
        <div class="ml-auto">
            <button class="btn btn-primary" @onclick="SaveChanges">Save</button>
            <button class="btn btn-light">Cancel</button>
        </div>

    </div>
    <div class="row flex-grow-1">
        <div class="col-sm-6">
            <span class="label label-default label-hint">Editor</span>
            <div class="markdown-editor">
                <Editor OnChange=@TextChanged InitialValue=@ContentValue />
            </div>
        </div>
        <div class="col-sm-6">
            <span class="label label-default label-hint">HTML Preview</span>
            <div class="markdown-view">
                <Markdown Content="@ContentValue"></Markdown>
            </div>
        </div>
    </div>
</div>