@page "/tag/create"
@inject ITagCreateViewModel viewModel

<div class="form-group">
    <input type="text" class="form-control" placeholder="Tag" @bind="ViewModel.TagName" />
    <button class="btn btn-primary" disabled="@(!ViewModel.CreateCommand.CanExecute(null))" @onclick="@Create">Create</button>
</div>

@code {
    protected ITagCreateViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewModel = viewModel;
    }

    protected void Create()
    {
        ViewModel.CreateCommand.Execute(null);
        ViewModel.TagName = null;
    }
}
