@page "/tag/edit/{tagId:int}"
@inject NavigationManager NavigationManager
@inject TagEditViewModel viewmodel

<h3>Edit Tag</h3>
<h4>Rename: @ViewModel.EditModel.OldName</h4>
<h4>To: @ViewModel.EditModel.NewName</h4>

<div class="form-group mb-3">
    <input type="text" class="form-control" @bind-value="@ViewModel.EditModel.NewName" @bind-value:event="oninput" />
</div>
<button class="btn btn-primary" @onclick="Save">Save</button>
<button class="btn btn-primary" @onclick="Delete">Delete</button>
<button class="btn btn-light" @onclick="Cancel">Cancel</button>


@code {
    [Parameter]
    public int tagId { get; set; }

    protected TagEditViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewModel = viewmodel;
        ViewModel.Load(tagId);
    }

    protected void Cancel() => NavigationManager.NavigateTo($"tag/list");

    protected void Delete() => NavigationManager.NavigateTo($"tag/delete/{ViewModel.EditModel.Id}");

    protected void Save() => ViewModel.RenameCategory();
}
