@inject TagCreateViewModel viewModel

<div class="form-inline">
    <div class="form-group mb-2">
        <input @attributes="InputAttributes" type="text" class="@ViewModel.InputClasses" placeholder="Tag" @bind="ViewModel.TagName" tabindex="0" />
        <button class="btn btn-primary" disabled="@(!ViewModel.CreateCommand.CanExecute(null))" @onclick="@Create" tabindex="1">Create</button>
    </div>
</div>

@code {
    protected TagCreateViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewModel = viewModel;

    }

    protected void Create()
    {
        ViewModel.CreateCommand.Execute(null);
        ViewModel.TagName = null;
    }

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>() {
                { "tabindex", "0" },
                { "placeholder", "Tag" }
            };
}
