<div class="leaderboard-wrapper">
    <div class="player-list">
        <div class="player">
            <div>derping-dinosaur</div>
            <div>12000</div>
        </div>
        <div class="player">
            <div>derping-dinosaur</div>
            <div>12000</div>
        </div>
        <div class="player">
            <div>derping-dinosaur</div>
            <div>12000</div>
        </div>
        <div class="player">
            <div>derping-dinosaur</div>
            <div>12000</div>
        </div>
        <div class="player">
            <div>derping-dinosaur</div>
            <div>12000</div>
        </div>
        <div class="player">
            <div>derping-dinosaur</div>
            <div>12000</div>
        </div>
    </div>
</div>

@code {

}
