@inject SolidTrivia.Game.ISolidTrivia SolidTrivia

<div class="leaderboard-wrapper">
    <div class="player-list">

        @foreach (var score in Session.Leaderboard())
        {
            <div class="player">
                <div>@score.PlayerId</div>
                <div>@($"${score.TotalScore}")</div>
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter(Name = "Session")]
    private SolidTrivia.Game.GameSession Session { get; set; }
}