@page "/tags/{tagId:int}"
<h3>Edit Tag</h3>
<h4>Tag Id: @TagId</h4>

<p>TODO : Create Edit View Model</p>
<p>TODO : Fetch Current Tag Text </p>
<p>TODO : Invalidate Save if text is the same</p>
<p>TODO : Maybe allow case correction somehow?</p>
<p>TODO : Cancel goes back to list</p>
<p>TODO : Inline Form</p>
<p>TODO : Make into component, inject it into the list instead of a separate page?</p>

<div class="form-group">
    <label for="current">Currently</label>
    <input id="current" type="text" readonly class="form-control mb-2" placeholder="Old text" />
</div>
<div class="form-group">
    <label for="changeto">Change To</label>
    <input id="changeto" class="form-control mb-2" type="text" />
</div>
<button class="btn btn-primary">Save</button>
<button class="btn btn-light">Cancel</button>


@code {
    [Parameter]
    public int TagId { get; set; }

    protected string NewTagName { get; set; }
}
