@page "/board/{SessionId}"
@inject NavigationManager NavigationManager
@inject SolidTrivia.Game.ISolidTrivia SolidTrivia

<div class="board-wrapper">
    @foreach (var category in Session.Categories)
    {
        <div class="board-column">
            <div>@category.Title</div>
            @foreach (var answer in category.Answers)
            {
                <div class="@HiddenAnswer(answer.IsAnswered)" @onclick="() => NavigateToAnswer(answer)">$@(answer.Weight * 100)</div>
            }
        </div>
    }
</div>
<CascadingValue Value="@Session" Name="Session">
    <SolidTrivia.Web.Components.LeaderboardComponent />
</CascadingValue>

@code {
    [Parameter]
    public string SessionId { get; set; }

    private SolidTrivia.Game.GameSession Session { get; set; }

    private string HiddenAnswer(bool isAnswered) => isAnswered ? "answered" : "";

    protected override void OnInitialized()
    {
        Session = SolidTrivia.GetSessionById(SessionId);
        Session.PropertyChanged += (o, e) => base.InvokeAsync(StateHasChanged);
    }

    private void NavigateToAnswer(SolidTrivia.Game.Models.Answer answer)
    {
        if (Session.IsAnswerInProgress())
        {
            //todo: some kind of error?
            NavigationManager.NavigateTo($"Board/{SessionId}/Answer/{Session.CurrentAnswer().Id}");
        }
        else
        {
            Session.SelectAnswer(answer);
            NavigationManager.NavigateTo($"Board/{SessionId}/Answer/{answer.Id}");
        }
    }
}