@page "/lobby/{SessionId}"
@inject NavigationManager NavigationManager
@inject SolidTrivia.Game.ISolidTrivia SolidTrivia

<div id="lobby">
    <h1>Text <span class="command">JOIN @SessionId</span> to 919-555-5555</h1>

    @if (Session == null || Session.Players.Count() == 0)
    {
        <h1>Waiting for players..</h1>
    }
    else
    {
        <div id="lobby-players">
            @foreach (var player in Session.Players)
            {
                <div class="player animation-fadein">@player.Id</div>
            }
        </div>
    }
    <button @onclick="Start">Start</button>
</div>

@code {

    [Parameter]
    public string SessionId { get; set; }

    private SolidTrivia.Game.GameSession Session { get; set; }

    protected override void OnInitialized()
    {
        Session = SolidTrivia.GetSessionById(SessionId);
        Session.PropertyChanged += (o, e) => base.InvokeAsync(StateHasChanged);
    }

    private void Start()
    {
        NavigationManager.NavigateTo("Board/" + SessionId);
    }
}