@page "/board/{SessionId}/response/{PromptId:guid}"
@inject NavigationManager NavigationManager
@inject SolidTrivia.Game.ISolidTrivia SolidTrivia

<div class="responses-wrapper">
    <div class="answer-content">
        @ThisPrompt.PromptText
    </div>
    <div class="correct-responses">
        <h1>Acceptable Responses:</h1>
        <h2>@ThisPromptList()</h2>
    </div>
    <div class="response-list">
        <div>User ID</div>
        <div>Response</div>
        @foreach (var response in Session.Responses.Where(r => r.PromptId == ThisPrompt.Id))
        {
            <div>@response.PlayerId</div>
            <div>@response.Text</div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Guid PromptId { get; set; }

    [Parameter]
    public string SessionId { get; set; }

    private SolidTrivia.Game.GameSession Session { get; set; }
    private SolidTrivia.Game.Models.IPrompt ThisPrompt { get; set; }

    protected override void OnInitialized()
    {

        Session = SolidTrivia.GetSessionById(SessionId);
        Session.PropertyChanged += (o, e) => base.InvokeAsync(StateHasChanged);
        ThisPrompt = Session.CurrentPrompt();
    }

    protected string ThisPromptList()
    {
        var sb = new System.Text.StringBuilder();
        foreach (var ar in ThisPrompt.AcceptableResponses)
        {
            sb.Append(ar).Append("; ");
        }
        return sb.ToString();
    }
}