@page "/board/create"
@inject BoardCreateViewModel viewModel
@inject NavigationManager NavigationManager

<h1>Create New Board</h1>
<div class="form-inline">
    <div class="form-group mb-2">
        <input @attributes="InputAttributes" type="text" class="@ViewModel.InputClasses" placeholder="Board" @bind="ViewModel.CreateModel.Name" tabindex="0" />
        <button class="btn btn-primary" disabled="@(!ViewModel.CreateCommand.CanExecute(null))" @onclick="@CreateBoard" tabindex="1">Create</button>
    </div>
</div>

@code {
    protected BoardCreateViewModel ViewModel { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ViewModel = viewModel;

    }

    protected void CreateBoard()
    {
        ViewModel.CreateCommand.Execute(null);
        NavigationManager.NavigateTo($"board/list");
    }

    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>() {
                { "tabindex", "0" },
                { "placeholder", "Board" }
            };
}